@media only screen and (max-width: 1024px) {
  .navbar .nav-item {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }

  .col-lg-11 {
    padding: 0;
  }
}

@media only screen and (max-width: 992px) {
  .navbar .nav-link {
    background: transparent !important;
    color: white !important;
  }

  .navbar .navbar-nav {
    margin-top: 10px;
  }

  .navbar .nav-item {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 480px) {
  .navbar .nav-link {
    background: transparent !important;
    color: white !important;
  }

  .navbar .navbar-nav {
    margin-top: 10px;
  }

  .navbar .nav-item {
    margin: 0 !important;
  }

  .container {
    margin: 0.5rem;
  }

  .seat-btn{
    padding: 0.1rem;
    margin: 0.2rem !important; 
  }

  .col-lg-12{
    padding: 0;
  }
}

.div-center {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-center-reg {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-design {
  padding: 30px;
  background-color: white;
}

.icon-render {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.add-movie-btn,
.book-asap-btn,
.confirm-btn {
  width: inherit;
}
